
    <div class="container py-5">
      <div class="row justify-content-center mb-3" *ngFor="let p of products">
        <div class="col-md-12 col-sm-12 col-xl-10">
          <div class="card  border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                  <div class=" ripple rounded ">
                    <img src="{{p.pro_img}}"class="w-100" />
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <h5>{{p.pro_name}}</h5>
                  <p class="mb-4 mb-md-0"> {{p.pro_description}}</p>
                </div>
                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                  <div class="d-flex flex-row align-items-center mb-1">
                    <h4 class="mb-1 me-1">{{p.pro_price | currency:' ج.م '}}</h4> 
                  </div>
                  <h6 class="text-success">Qty:{{p.pro_quntity}}</h6>
                  <div class="d-flex flex-column mt-4">
                    <button  class="btn btn-outline-primary btn-sm" type="button"><i class="fa-regular fa-pen-to-square"></i> Update</button>
                    <button  class="btn btn-outline-danger btn-sm mt-2" type="button" (click)="remove(p.pro_id)">
                    <i class="fa-solid fa-trash" ></i> Remove  </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="message-box" *ngIf="message || message2">
        {{ message || message2 }}
        </div>
    </div>
 
